
@font-face {
  font-family: 'IrishGrover';
  src: url('./assets/fonts/IrishGrover-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jeju';
  src: url('./assets/fonts/JejuHallasan-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color:#807040;
  margin:0;
  padding:0;
}